<ion-header>
  <ion-navbar>
    <ion-title>Company Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="company">
    <p>{{company.details}}</p>
    <rating [(ngModel)]="company.rate"
            readOnly="false"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"
            (ngModelChange)="onRatingChange($event)">
    </rating>
    <ul>
      <li *ngFor="let promo in company.promotions"></li>
    </ul>
  </div>
</ion-content>
