<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <map-component [companies]="companies" [mapLocation]="mapLocation"><</map-component>
</ion-content>

<actions-toolbar></actions-toolbar>
