<ion-content>
  <agm-map [latitude]="mapLocation.latitude" [longitude]="mapLocation.longitude" [zoom]="16"
           (centerChange)="centerChangeHandler($event)">
    <agm-marker [latitude]="company.location.latitude" [longitude]="company.location.longitude" *ngFor="let company of companies"
                (markerClick)="markerClick(company)"></agm-marker>
  </agm-map>
  <ion-list>
    <ion-item *ngFor="let company of companies" (click)="viewCompanyDetails(company)">{{company.name}}</ion-item>
  </ion-list>
</ion-content>
